* {
  margin: 0;
  padding: 0;
}
html {
  background-image: url(/images/background.webp);
}

header {
  display: grid;
  height: 90px;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 70px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 5px 5px 10px white;
}

.container {
  display: grid;
  grid-template-rows: repeat(6 400px);
  grid-template-columns: repeat(10) 100px;
}

.box1 {
  display: grid;
  margin-top: 10%;
  margin-bottom: 10%;
  grid-column: 8/9;
  grid-row: 1;
  background-color: rgb(71, 70, 70);
  width: 240px;
  margin-right: 10%;
  row-gap: 5px;
  font-size: 16px;
  row-gap: 10px;
}
.box1 #titels {
  align-items: center;
  justify-content: center;
}

h2 {
  color: white;
}

span {
  display: grid;
  color: white;
  justify-content: space-between;
}
span:hover {
  color: rgb(250, 6, 6);
}

.box2 span {
  display: flex;
  color: red;
  font-size: 20px;
  position: absolute;
  bottom: 10%;
  left: 15%;
}
.box2 {
  display: grid;
  background-image: url(/images/table.webp);
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 100px;
  border-width: 5px;
  margin-top: 15%;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 4/8;
  grid-row: 1;
  width: 600px;
  height: 300px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 15%;
  margin-top: 15%;
}
button {
  border-radius: 20px;
  margin-right: 2px;
  width: 120px;
  height: 50px;
  font-size: 16px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-style: none;
}
#b1:hover {
  background-color: rgba(248, 4, 239, 0.96);
  margin-bottom: 10px;
  box-shadow: 0px 15px 20px rgba(202, 46, 229, 0.4);
}
#b2:hover {
  background-color: rgba(235, 0, 118, 0.708);
  margin-bottom: 10px;
  box-shadow: 0px 15px 20px rgba(235, 0, 118, 0.708);
}
#b3:hover {
  background-color: rgba(236, 36, 14, 0.96);
  margin-bottom: 10px;
  box-shadow: 0px 15px 20px rgba(236, 36, 14, 0.96);
}
img {
  display: grid;
  border-style: solid;
  border-radius: 9px;
  width: 50px;
  height: 50px;
  grid-row: 1/6;
  background-color: white;
}
img:hover {
  color: rgba(128, 128, 128, 0.462);
}
