* {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 40%;
}

.top {
  display: flex;
  background-color: pink;
  font-size: 30px;
  padding: 30px;
  width: 60px;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
}
